/* ESTILOS DE CSS */
:root {
    --primario: #f25645;
    --secundario: #87411b;
    --blanco: rgb(240, 248, 255);
    --oscuro: rgb(29, 43, 59);
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    background-color: aliceblue;
    font-family: 'Bai Jamjuree', sans-serif;
}

.header {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-image: linear-gradient(to right, rgba(12, 32, 48, 0.582), rgba(12, 12, 60, 0.646)), url("../img/header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-2 {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-image: linear-gradient(to right, rgba(13, 29, 43, 0.888), rgba(9, 9, 44, 0.897));
}

.barra {
    display: flex;
    justify-content: space-between;
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navegacion a {
    text-decoration: none;
    color: var(--blanco);

}

.navegacion a:hover {
    color: var(--primario);
    border-bottom: 1px solid var(--primario);
}

.barra .logo {
    width: 300px;
    cursor: pointer;
}

header h1 {
    margin-bottom: 190px;
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 50px;
    opacity: .2;
}

@media (max-width: 500px) {
    .barra {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    h1 {
        font-size: 30px;
    }
}